/* -- METODOLOGIA DE TRABAJO -- */

.metodTrabajoBg{
    background-image: url("../media/fotos/tallerSoldador.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.div__metod{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    
}

.olMetod{
    margin: 0 50px;
}
.h2Metod{
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0 25px 0;
    padding-left: 15px;
}