/* -- PORTFOLIO -- */

.mainPort{
    margin-top: 100px;
    width: 100vw;
    height: 50vh;
}
.bodyPort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}